* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Georgia', Cambria, serif;
  font-size: 15px;
  line-height: normal;
  color: #333;
}

.row-black,
.row-left,
.row-right {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  height: 32px;
}

.row-white {
  position: fixed;
  background: #eee;
  width: 100%;
}

.row-left a,
.row-right a {
  padding: 0 10px;
  color: white;
  text-decoration: none;
}

.row-white {
  display: flex;
  height: 48px;
  align-items: center;
}

.white-logo {
  width: 106px;
  height: 100%;
}

.white-logo img {
  width: 100%;
  height: 100%;
}

.white-menu {
  width: 100%;
}

.white-search {
  height: 100%;
  width: 60px;
  text-align: center;
  font-size: 2em;
  line-height: 48px;
}

.row-white a {
  padding: 0 10px;
  color: gray;
  text-decoration: none;
}

.row-yellow {
  display:flex;
  align-items: center;
  padding-left: 10px;
  height: 30px;
  background:#FD3;
}


.container {
  display: flex;
}

.container-two {
  width: 40%;
  display: flex;
    flex-direction: column;
}

.big-img  {
  width: 100%;
  height: 500px;
  background-image: url('https://images.unsplash.com/photo-1513407030348-c983a97b98d8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=477ae5a62fd5ade3f1e3a08c013af882&auto=format&fit=crop&w=1502&q=80');
  background-size: cover;
}

.picture-up  {
    width: 100%;
    height: 50%;
    background: orange;
    background-image: url('https://images.unsplash.com/photo-1513407030348-c983a97b98d8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=477ae5a62fd5ade3f1e3a08c013af882&auto=format&fit=crop&w=1502&q=80');
    background-size: cover;
}

.container-latest {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-news {
  display: flex;
  flex-wrap: wrap;
  background: #333;
}

.colunm {
  height: 250px;
  width: 25%;
  background: #FD3;
}

.container-deal {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-funding {
  display: flex;
  flex-wrap: wrap
}

.row {
  background: orange;
  height: 250px;
  width: 25%;
}

.container-articles {
  display: flex;
  flex-wrap:wrap;
  width: 100%;
}

.colunm-article {
  background: purple;
  height: 300px;
  width: 33.33%;
  justify-content: space-between;
}

.container-footer {
  height: 70px;
  width: 100%;
}

.container-social-footer {
  background: blue;
  height: 50px;
}

.container-credits {
  background: black;
  height: 40px;
}