/* #region body */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Georgia', Cambria, serif;
  font-size: 15px;
  line-height: normal;
  color: #333;
}

/* #endregion */

/* #region header */

header {
  position: fixed;
  display:flex;
  width: 100%;
}

.row-black,
.row-white,
.row-yellow,
.header-menu {
  width:100%;
}

.row-black,
.row-left,
.row-right {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  height: 32px;
}

.row-white {
  background: #eee;
  width: 100%;
  display: flex;
  height: 48px;
  align-items: center;
}

.row-left a,
.row-right a {
  padding: 0 10px;
  color: white;
  text-decoration: none;
}

.white-logo {
  display:none;
  width: 200px;
  height: 110px;
  background: red;
}

.white-logo img {
  /* float:left; */
  width: 100%;
  height: 100%;
}

.white-menu {
  width: 100%;
}

.white-search {
  height: 100%;
  width: 60px;
  text-align: center;
  font-size: 2em;
  line-height: 48px;
}

.row-white a {
  padding: 0 10px;
  color: gray;
  text-decoration: none;
}

.row-yellow {
  display: flex;
  align-items: center;
  padding-left: 10px;
  height: 30px;
  background: #FD3;
}

/* #endregion */

/* #region banner */

.banner {
  display: flex;
  padding-top: 120px;
  margin-bottom: 40px;
}

.banner-left {
  width: 100%;
  height: 500px;
  background-image: url('https://images.unsplash.com/photo-1513407030348-c983a97b98d8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=477ae5a62fd5ade3f1e3a08c013af882&auto=format&fit=crop&w=1502&q=80');
  background-size: cover;
  /* margin-right: 5px; */
  margin: 5px;
}
.banner-right {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.banner-picture {
  gap: 40px;
  height: 50%;
  background: orange;
  background-image: url('https://images.unsplash.com/photo-1513407030348-c983a97b98d8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=477ae5a62fd5ade3f1e3a08c013af882&auto=format&fit=crop&w=1502&q=80');
  background-size: cover;
  /* margin-bottom: 5px; */
  margin: 5px;
}

/* #endregion */

/* #region main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.latest,
.funding,
.articles,
.deals {
  width: 1152px;
  /* max-width: 1152px; */
  /* min-width: 644px; */
  margin: 10px;
}

.title {
  background: teal;
  color: white;
}

.latest,
.deals {
  display: flex;
  flex-direction: column;

}

.latest-container,
.deals-container {
  display: flex;
  flex-wrap: wrap;
  background: #333;
}

.latest-container-element,
.deals-container-element {
  height: 250px;
  width: 25%;
  background: #FD3;
}

.funding {
  display: flex;
  flex-direction: column;
}

.funding-container {
  display: flex;
  flex-wrap: wrap;

}

.funding-container-element {
  background: orange;
  height: 250px;
  width: 25%;
}

.articles {
  display: flex;
  flex-wrap: wrap;
}

.articles-element {
  background: purple;
  height: 300px;
  width: 33.33%;
  justify-content: space-between;
}

/* #endregion */

/* #region footer */

.footer {
  height: 70px;
  width: 100%;
}

.footer-social {
  background: blue;
  height: 50px;
}

.footer-credits {
  background: black;
  height: 40px;
}

/* #endregion */

/* #region media-query: 1024px */

@media only screen and (max-width: 1024px) {

.white-logo {
  display: initial;
}

}

/* #endregion */

/* #region media-query: 768px */

/* @media only screen and (max-width: 768px) {

} */

/* #endregion */
