:root {
  --colorBackgroud: #eee;
  --menuBlack: #131313;
  --menuWhite: #fff;
  --colorWhiteForTExt: #fff;
  --colorHelp: red;
}

navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--menuBlack);
}

navbar .teste {
	float:right;
}


navbar li {
  float: left;
}

navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 5px;
  text-decoration: none;
  font-size:15px;
}

.submenu {
  
}